body {
  font-family: Arial, sans-serif;
  background-color: #d2ffec;
}
h1 {
  font-size: 60px;
  color: #333;
  text-align: center;
}
p1 {
  display:flex;
  justify-content: center;
  font-size: 40px;
  text-align: center;
}
#paragraph_2
{
  white-space: 2;
}

#image_paragraph {
    justify-content: center;
    font-size: 40px;
    font-family: monospace; /* Use a monospace font for consistent character width */
    line-height: 1;         /* Reduce line height to minimize spacing */
}
button {
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
}
#image_panel {
  width: 300px; 
  height: 200px; 
  border: 3px solid #454e52; 
  padding: 10px; 
  background-color: #74d1ff; 
  font-family: monospace; 
  white-space: pre-wrap;
  overflow: auto; 
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}