body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
h1 {
  color: #333;
  text-align: center;
}
p1 {
  font-size: 25px;
  text-align: center;
}

#image_paragraph {
    font-size: 40px;
    font-family: monospace; /* Use a monospace font for consistent character width */
    line-height: 1;         /* Reduce line height to minimize spacing */
    white-space: pre-wrap;  /* Preserve newlines and allow wrapping */
}
button {
  font-size: 25px;
  text-align: center;
}